<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Mummy - BookMyShow</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
    <link rel="stylesheet" href="{% static 'css/hellomummy.css' %}">
</head>

<body>
    <div class="topnav">
        <img src="{% static 'images/download (1).png' %}" alt="img1 " width="120px">
        <form>
          <div class="search">
            <span class="search-icon material-symbols-outlined">search</span>
            <input class="search-input" type="text" placeholder="Search for Movies,Event,Plays,Sports and Activies ">
          </div>
        </form>
        <div class="location">
          <p>Kochi <span class=" arrow material-symbols-outlined"> keyboard_arrow_down</span></p>
        </div>
        <div class="signup">
          <button type="button" class="btn1">Sign in</button>
        </div>
        <div class="menu">
          <span class="material-symbols-outlined">menu</span>
        </div>
    
      </div>
      <div class="secnav">

        <ul class="navitem">
    
          <li><a href="#">Movies</a></li>
    
    
          <li> <a href="#">Stream</a></li>
    
    
          <li> <a href="#">Events</a></li>
    
    
          <li> <a href="#">Plays</a></li>
    
    
          <li> <a href="#">Sports</a></li>
    
    
          <li> <a href="#">Activies</a></li>
    
        </ul>
        <ul class="navitem1">
          <li><a href="#">ListYourShow</a></li>
          <li><a href="#">Corparates</a></li>
          <li><a href="#">Offers</a></li>
          <li><a href="#">Gift Cards</a></li>
        </ul>
    
      </div>
      <div class="container-fluid">

        <div class="row banner">
            <div class="col-md-4" style="padding-left: 7%;padding-top:1%;">
                <img src="{% static 'images/hello_mummy.avif' %}" alt="Hello Mummy Poster" class="movie-poster" height="550px" width="100px">
            </div>
            <div class="col-md-8">
                <h1 style="color: white; padding-top: 5%;">Hello Mummy</h1>
                <div class="a" style="background-color: rgb(0, 0, 0);width:400px;height:70px"><p class="rating">★ 8.3/10 (4.6K Votes) ></p><button id="b1">Rate now</button></div>
                <div class="b" style="padding: 1%;"><button>Malayalam</button></div>
                <p style="color: white;"><strong>Duration:</strong> 2h 16m</p>
                <p style="color: white;"><strong>Genre:</strong> Comedy, Fantasy</p>
                <p style="color: white;"><strong>Release Date:</strong> 21 Nov, 2024</p>
               
                <button class="btn btn-danger">Book Tickets</button>
            </div>
        </div>
        <div class="c" style="padding-left: 10%;padding-top:2%;padding-right:10%;">
          <h3>About the movie</h3>
          <p style="font-size: larger;">
             Boney, a carefree and aimless man, finds his life in chaos after marriage
            when he must confront the restless spirit of his obsessive-compulsive mother-in-law who refuses to
            leave her daughter's side.
        </p>
        </div>

    
        <div class="movie-info" style="padding-left: 10%;padding-top:2%;">
            <h3>Rating</h3>
            <div class="rating-bar" style="width: 83%;"></div>
            <p class="rating-text">75% | SuperDirection 90%</p>
        </div>

        <div class="my-4" style="padding-left: 10%;padding-top:2%;">
            <h3>Cast</h3>
            <div class="d-flex">
                <div class="text-center me-3">
                    <img src="{% static 'images/sharafudheen-1069905-1655190902.avif' %}" alt="Sharafudheen" class="cast">
                    <p>Sharafudheen</p>
                    <p class="text-muted">as Boney</p>
                </div>
                <div class="text-center me-3">
                    <img src="{% static 'images/aishwarya-lekshmi-1085670-21-12-2017-11-33-11.avif' %}" alt="Aishwarya Lekshmi" class="cast">
                    <p>Aishwarya Lekshmi</p>
                    <p class="text-muted">as Sify</p>
                </div>
                <div class="text-center me-3">
                    <img src="{% static 'images/jagadish-12791-1700138866.avif' %}" alt="Jagadish" class="cast">
                    <p>Jagadish</p>
                    <p class="text-muted">as Samuel</p>
                </div>
                <div class="text-center me-3">
                    <img src="{% static 'images/sunny-hinduja-24447-01-09-2017-11-14-45.avif' %}" alt="Sunny Hinduja" class="cast">
                    <p>Sunny Hinduja</p>
                    <p class="text-muted">as Ashokan</p>
                </div>
                <div class="text-center me-3">
                    <img src="{% static 'images/joemon-jyothir-2022810-1731313519.avif' %}" alt="Joemon Jyothir" class="cast">
                    <p>Sunny Hinduja</p>
                    <p class="text-muted">as Bichu</p>
                </div>
                <div class="text-center">
                    <img src="{% static 'images/johny-antony-2647-1695569879.avif' %}" alt="Johny Antony" class="cast">
                    <p>Johny Antony</p>
                    <p class="text-muted">as Philip</p>
                </div>
            </div>
        </div>

        <div class="my-4" style="padding-left: 10%;padding-top:2%;">
            <h3>Crew</h3>
            <div class="d-flex">
                <div class="text-center me-3">
                    <img src="{% static 'images/vaishakh-elans-2042150-1731746896.avif' %}" alt="Vaishak Elens" class="crew">
                    <p>Vaishak Elens</p>
                    <p class="text-muted">Director</p>
                </div>
                <div class="text-center me-3">
                    <img src="{% static 'images/jomin-mathew-1083465-1731773723.avif' %}" alt="Jomin Mathew" class="crew">
                    <p>Jomin Mathew</p>
                    <p class="text-muted">Producer</p>
                </div>
                <div class="text-center me-3">
                    <img src="{% static 'images/aibin-thomas-2042151-1731738002.avif' %}" alt="Abin Thomas" class="crew">
                    <p>Abin Thomas</p>
                    <p class="text-muted">Producer</p>
                </div>
                <div class="text-center me-3">
                    <img src="{% static 'images/rahul-es-2042172-1731762600.avif' %}" alt="Rahul ES" class="crew">
                    <p>Rahul ES</p>
                    <p class="text-muted">Producer</p>
                </div>
                <div class="text-center me-3">
                    <img src="{% static 'images/sanjo-joseph-2042174-1731762980.avif' %}" alt="Sanjo Joseph" class="crew">
                    <p>Sanjo Joseph</p>
                    <p class="text-muted">Writer,Screenplay,Dialogue Writer</p>
                </div>
                <div class="text-center">
                    <img src="{% static 'images/jakes-bejoy-1050437-17-05-2019-03-06-39.avif' %}" alt="Jakes Bejoy" class="crew">
                    <p>Jakes Bejoy</p>
                    <p class="text-muted">Musician</p>
                </div>
            </div>
        </div>

        <div class="reviews my-4" style="padding-left: 10%;padding-top:2%;">
            <h3>Top Reviews</h3>
            <div class="review-box">
                <p><strong>Sreekesh:</strong> Padam first half kollam...</p>
                <p class="text-muted">7/10</p>
            </div>
        </div>

    
        <div class="recommendations my-4" style="padding-left: 10%;padding-top: 2%;">
            <h3>You Might Also Like</h3>
            <div class="d-flex">
                <div class="card me-3" style="width: 12rem;">
                    <img src="{% static 'images/vallyettan-et00419575-1732798858.avif' %}" class="card-img-top" alt="Vallyettan">
                    <div class="card-body">
                        <h5 class="card-title">Vallyettan</h5>
                        <p class="card-text">9.5/10 (393 Votes)</p>
                    </div>
                </div>
                <div class="card" style="width: 12rem;">
                    <img src="{% static 'images/all-we-imagine-as-light-et00412656-1731918211.avif' %}" class="card-img-top" alt="All We Imagine">
                    <div class="card-body">
                        <h5 class="card-title">All We Imagine</h5>
                        <p class="card-text">8.2/10 (1.4K Votes)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-detail">
          <img src="{% static 'images/hut.svg' %}" alt="h1" class="hut" style="padding-right: 10px;">
          <h1 class="lt"> List Your Show</h1>
          <p>Got a show,event,activiy or a great experience?Partner with us & get listed on BookMyShow</p>
          <button class="btn2 ">Contact today!</button>
        </div>
      </div>
      <div class="footer1">
        <div class="footer-support">
          <div class="cust-icon">
            <img src="{% static 'images/call1-removebg-preview.png' %}" alt="c1" style="width: 75px; height: 75px  ;">
            <p>24/7 CUSTOMER CARE</p>
          </div>
          <div class="cust-icon">
            <img src="{% static 'images/images-removebg-preview.png' %}" alt="c2" style="width: 75px; height: 75px;">
            <p>RESEND BOOKING CONFIRMATION</p>
          </div>
          <div class="cust-icon">
            <img src="{% static 'images/msg1-removebg-preview.png' %}" alt="c3" style="width: 75px; height: 75px;">
            <p>SUBSCRIBE TO THE NEWSLETTER</p>
          </div>
        </div>
      </div>
      <div class="footer2">
        <div class="info">
          <h4>MOVIES NOW SHOWING IN KOCHI</h4>
          <P>Joker:Folie a Deux|A.R.M|Kishkindha Kaandam|Devara - Part 1|Meiyazhagan|Chithini</P><br>
          <h4>UPCOMMING MOVIES IN KOCHI</h4>
          <p>The Legend Of Maula Jatt|Bhairadevi|Chitti Potti|Bahirbhoomi|Ramnagar Bunny</p><br>
          <h4>MOVIES BY GENRE</h4>
          <p>Drama Movies|Action Movies|Thriller Movies|Comedy Movies|Crime Movies|Horror Movies</p><br>
          <h4>MOVIES BY LANGUAGE</h4>
          <p>Movies in Malayalam|Movies in Tamil|Movies in Hindi|Movies in Telugu|Movies in Kanada</p><br>
          <h4>SPORTS EVENTS IN KOCHI</h4>
          <p>Running|Chess|Basketball|Cricket|Cycling|E Sports|Football</p><br>
          <h4>PLAYS IN TOP CITIES</h4>
          <p>Plays in Mumbai|Plays in Chennai|Plays in Bengaluru|Plays in Pune|Plays in Kochi</p><br>
          <h4>COUNTRIES </h4>
          <p>Indonesia|Singapore|UAE|Sri Lanka|West Indies</p><br>
          <h4>HELP</h4>
          <p>About us|Contact us|Current Opening|Press Coverage|Sitemap|FAQs|Terms and Conditions|Privacy Policy</p><br>
          <h4>BOOKMYSHOW EXCLUSIVES</h4>
          <p>Lollapalooza india|Super Star|Book A Change|Corporate Vouchers|Gift Cards|List My Show|Offers|Streams|Trailers</p>
        </div>
        <div class="line"></div>
        <div class="bms">
          <img src="{% static 'images/logo.svg' %}" alt="s1">
         </div>
        <div class="ss">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut sequi sint quaerat impedit maiores dicta quae magnam. Dolorum, ullam. Hic aspernatur nostrum voluptates ratione voluptate voluptas quis sunt ad pariatur?
        </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>